*{
    margin: 0px;
    padding: 0px;

}

body{
    margin: 0 auto;
    width: 1000px;
    
    
}

.cajas{
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 620px;
    border-radius: 10px;
    background-color: gray;
}


.cabecera{
    margin: 0 auto;
    height: 350px;
    width: 650px;
    
    
}
.costado1{
    float: left;
    margin: 5px;
    height: 320px;
    width: 70px;
    margin-right: 10px;   
}


.eje{

    margin-top : 40px;
}

.eje button{
    display: block;
    border-radius: 5px;
    margin: 0 auto;
    float: right;
    margin-top: 15px;
    margin: 10px;
    background-color: black;
    
}
.centro{
    text-align: center;
}
.costado2{
    float: left;
    margin: 5px;
    height: 320px;
    width: 70px;
    margin-right: 10px;
    
    
}




.pantalla{
    float: left;
    margin: 5px;
    width: 400px;
    height: 300px;
    background-color: rgb(235, 235, 2);
    margin-right: 10px;
    border-radius: 15px;
    border: rgb(104, 103, 103) 10px solid;
    
}
.lado_i{
    width: 40px;
    height: 200px;
    float: left;
    
}
.izquierda{
    padding-top: 26px;
    color: brown;
}
.lado_d{
    width: 85px;
    height: 200px;
    float: right;
    
    
}
.money{
    text-align: center;
    border: 0px;
    background-color: rgb(235, 235, 2)
}
.parra{
    text-align: center;
}

.derecha{
    padding-top: 26px;
    color: brown;
}
.central{
    text-align: center;
}


.pantalla h1{
    margin: 5px;
    
}
.bien{
    color: black;
    text-align: left;
}
.nombre{
    height: 20px;
    width: 200px;
    border: rgb(202, 202, 4) 5px solid;
}
.navegar{
    width: 650px;
    height: 250px;
    border-radius: 10px;
    
}
h1{
    text-align: center;
    color: brown;
}
.contenido{
    float: left;
    width: 325px;
    height: 250px;
    

}
button{
    margin: 2px 0px;
    padding: 15px 24px;
    font-size: 13px;
    height: 34px;
    width: 34px;
    
}
.contenido{
    display: flex;
    
}
.numeros div{
    text-align: center;
}
.numeros button:hover{
    box-shadow: 0px 0px 12px #ccc;

}
.teclas{
    display: flex;
    margin-top: 5px;
}
.numeros button{
    border: black 1px solid;
    background-color: rgb(214, 211, 211);
    border-radius: 7px;
}
.numeros{
    padding: 18px ;
    
}
.op{
    padding: 14px ;
}
.op button{
    display: block;
    width: 100px;
    height: 35px;
    padding: 9px 15px;
    border-radius: 5px;
}
.op button:hover{
    box-shadow: 0px 0px 12px rgb(206, 201, 201);
}
.ca{
    background-color: red;
    color: white;
    border: black 2px solid;
}
.cl{
    background-color: rgb(196, 196, 4);
    color: white;
    border: black 2px solid;
}
.ok{
    background-color: green;
    color: white;
    border: black 2px solid;
}
.v{
    background-color: rgb(82, 80, 80);
    color: white;
    border: 0px;
}

.contenido2{
    float: right;
    width: 300px;
    height:  250px;
    
}
.tarjeta{
    width: 140px;
    height: 80px;
    
    float: left;;
}
.tarjet{
    width: 160px;
    height: 80px;
    
    float: right;
}
.card{
    width: 100px;
    height: 5px;
    background-color: black;
    border: rgb(78, 77, 77) 10px solid;
    top: 15px;
}

.receipt{
    width: 100px;
    height: 5px;
    background-color: black;
    border: rgb(78, 77, 77) 10px solid;
    top: 15px;

}

.tarjeta2{
    width: 300px;
    height: 80px;
    
    float: left;
}
.cash{
    width: 240px;
    height: 5px;
    background-color: black;
    border: rgb(78, 77, 77) 10px solid;
    
}

.tarjeta3{
    width: 300px;
    height: 90px;
    
    float: left;
}
.reposit{
    width: 240px;
    height: 5px;
    background-color: black;
    border: rgb(78, 77, 77) 10px solid;
    top: 15px;
}
.contenido2 h2{
    color: white;
}

    
